version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: pierrenedelec-ng-doc-pro_server_1
      APP_PORT: 3001
      
  server:
    image: ghcr.io/pierrenedelec/ng-doc-pro@sha256:a571e27a4e44c62ead1c7785c006548589d76f8b0e68ceb598cee471b9e8ddd8
    user: "1000:1000"
    init: true

