version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: pierrenedelec-ng-doc-pro_server_1
      APP_PORT: 3001
      PROXY_AUTH_ADD: "false"
  ng-doc-pro:
    image: ghcr.io/pierrenedelec/ng-doc-pro@sha256:f8f6f8d1eb5fdfb21ed419ddc3c4ad5bec52aa2132791c78a8d2acf4c5aa9c26
    user: "1000:1000"
    init: true

